body{
    margin: 0;
    padding: 0;
}

.header-image{
    background-color: rgb(26, 26, 26);
    background-image: linear-gradient(to top, #ffeecc, rgb(0, 0, 0));
}

.lv-bg img{
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-bottom: 5px solid rgb(225, 225, 225);
}

.grad-img{
    margin:auto;

    width: 20vw;
    height: auto;

    margin-top: -10%;
}

.grad-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border: 5px solid rgb(225, 225, 225);
}

.text-container{

    margin: auto;
    width: 80%;

    font-size: 30px;
    letter-spacing: 3px;
    line-height: 60px;
    text-align: justify;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'EB Garamond', serif;


}

.text-container a{
  font-family: 'Raleway', sans-serif;
}

.forda-fersonality-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr
}

.ffc-a-box{
   display: flex;
   align-items: center;
   text-align: center;
}
    .ffc-a-box a{
        color: green;
        text-decoration: none;
    }

    .ffc-a-box a:hover{
        color: rgb(0, 197, 0);
        text-decoration: underline;
    }

.forda-fersonality-container img{
    
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px){
    .text-container{

        margin: auto;
        width: 80%;
    
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 30px;

    }
}