
.main-container{
  padding: 3%;
}

.container-1{
    max-height: 1474px;
}

.gallery-text{
  display: flex;
  justify-content: center;
}

.gallery-text h1{
  letter-spacing: 3px;
}

.slideshow-container {
    display: flex;
    position: relative;
    max-width: 1000px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
  }

.mySlides img{
    width: 100%;
    object-fit: cover;
}
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    font-family: 'Raleway', serif;
    color:white;
    background-color: #000000;
    width: auto;
    opacity: 70%;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: center;
  }



  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .comment-section{
    width: 70%;
    margin:auto;

    padding: 2%;
  }

  .comment-container{
    display: grid;
    gap: 2vw;

    grid-template-columns: 1fr 1fr 1fr;

    line-height: 1.5rem;
  }

  .box{
    border: 2px dashed black;
    background-color: white;
    border-radius: 10%;
    padding: 1.5rem;
  }

  .box h3{
    padding: 2%;
    background-color: rgb(0, 210, 84);
    display: flex;
  }

  .name{
    text-align: center;

    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .comment-container img{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-right: 5px;
  }

  .comment-section h2{
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
  }

  .box1 {
    grid-column: 1;
    grid-row: 1;
  }

  .box2{
    grid-column: 2;
    grid-row: 1;
  }

  .box4{
    grid-column: 3;
    grid-row: 1/span 2;
  }

  .box3{
    grid-column: 1/span 2;
    grid-row: 2;
  }

  @media screen and (max-width:1080px){
    .comment-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

  }


 



 